.bi {
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s;
}

.bi:hover {
  color: gold;
}

.bi-star-fill {
  color: gold;
}

.card-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5em;
}
